{{!-- Box representing a player on the game screen.
inputs:
- player: the player object
- points: the number of points the player has
- game: the game
- itemsMap
- fontsMap
Assumes the existence of a function called "scoreEvent" that takes an event and eventually posts it to the server (maybe
as part of a batch).
--}}
<div class="player-box card fs-3" style="height: 100%">
  <div class="card-body">
    <div class="row">
      <p>{{{formatPlayer player itemsMap fontsMap 2}}}</p>
    </div>
    <div class="row">
      <p class="text-center fs-1" id="player{{player.id}}points">{{points}}</p>
    </div>

    {{#unless game.endedAt}}
    <script>
      if (window["scoreEvent"] === undefined) {
        console.error("scoreEvent is undefined; this function should be defined in the template that includes this partial.");
      }
    </script>
    <div class="row">
      <div class="float-end">
        <button
          onclick="scoreEvent({gameId: '{{game.id}}', playerId: '{{player.id}}', event: 'add', datetime: new Date() }, /* id of element to update*/ 'player{{player.id}}points')"><tt>+</tt></button>
        <button
          onclick="scoreEvent({gameId: '{{game.id}}', playerId: '{{player.id}}', event: 'double', datetime: new Date() }, /* id of element to update*/ 'player{{player.id}}points')"><tt>d</tt></button>
        <button
          onclick="scoreEvent({gameId: '{{game.id}}', playerId: '{{player.id}}', event: 'remove', datetime: new Date() }, /* id of element to update*/ 'player{{player.id}}points')"><tt>-</tt></button>
      </div>
    </div>
    {{/unless}}
  </div>
</div>