<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{{player1.name}} &amp; {{player2.name}} vs. {{player3.name}} &amp; {{player4.name}} at
    <time>{{game.datetime}}</time>
  </title>
</head>

<body>
  <h1>{{player1.name}} &amp; {{player2.name}} vs. {{player3.name}} &amp; {{player4.name}} at
    <time>{{game.datetime}}</time>
  </h1>
</body>

</html>