{{!-- Box representing a player on the game screen.
inputs:
- player: the player object
- points: the number of points the player has
- game: the game
- itemsMap
- fontsMap
Assumes the existence of a function called "scoreEvent" that takes an event and eventually posts it to the server (maybe
as part of a batch).
--}}
<div class="player-box card fs-3">
  <div class="card-body">
    <div class="player-box-name">
      {{{formatPlayer player itemsMap fontsMap 2}}}
    </div>
    <div class="justify-content-center">
      <p class="text-center fs-1" id="player{{player.id}}points">{{points}}</p>
    </div>

    {{#unless game.endedAt}}
    <script>
      if (window["scoreEvent"] === undefined) {
        console.error("scoreEvent is undefined; this function should be defined in the template that includes this partial.");
      }
    </script>
    <div class="row">
      <div class="float-end d-flex justify-content-around">
        <button
          style="width:100%; margin-left: 0.1em; margin-right: 0.1em;" onclick="scoreEvent({gameId: '{{game.id}}', playerId: '{{player.id}}', event: 'add', datetime: new Date() }, /* id of element to update*/ 'player{{player.id}}points')"><tt>+</tt></button>
        <button
          style="width:100%; margin-left: 0.1em; margin-right: 0.1em;" onclick="scoreEvent({gameId: '{{game.id}}', playerId: '{{player.id}}', event: 'double', datetime: new Date() }, /* id of element to update*/ 'player{{player.id}}points')"><tt>d</tt></button>
        <button
          style="width:100%; margin-left: 0.1em; margin-right: 0.1em;" onclick="scoreEvent({gameId: '{{game.id}}', playerId: '{{player.id}}', event: 'remove', datetime: new Date() }, /* id of element to update*/ 'player{{player.id}}points')"><tt>-</tt></button>
      </div>
    </div>
    {{/unless}}
  </div>
</div>